/*
    Jenn Stuart
    HW Assignment 6
    UTexas PTF Coding 2019
*/

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
    line-height: 1.5;
    color: #831b1b;
    height: 100%;

     /*Scale image based on window size*/
     background-image: url("../images/Background/background3.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
      
     
 
     /*Properties for sticky footer, flexbox for variable height*/
     display: flex;
     min-height: 100vh;
     flex-direction: column;

}

header {
    text-align: center;
    font-size: 12%;
}

footer{
    background-color: transparent;
    padding: 20px 0 10px;
    text-align: center;
    font-size: 19px;
    margin-top: 5%;
}





/*IDs (#)*/

#buttons {
    margin-top: 2%;
    text-align: center;
}

#gifs-appear-here {
    margin-top: 2%;
    
}

#favorite-gifs {
    /* want this div to be at right side of page */
  padding-inline-end: 5%;
}

/* #search {
    margin-top: 2%;
    text-align: center;
    align-items: center;
    align-content: center;

}

#foodSearch {

}

#foodInput {

}

#addFood {

} */


/*Classes (.)*/

.btn-warning {
    color: #831b1b;
    font-family: 'Teko', sans-serif;

}


/* @media tags */
@media only screen and (max-width:) {
}